.header {
  background-color: #4d2c5ebb;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .logo {
    img {
      width: 37px;
      height: 37px;
      object-fit: contain;
    }

    @media (max-width: 768px) {
      img {
        width: 30px;
        height: 30px;
      }
    }

    @media (max-width: 576px) {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  .nav {
    display: flex;

    &.active {
      display: block;
    }

    .disp {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;

      li {
        &:last-child {
          border-bottom: none;
        }

        a {
          display: block;
          padding: 10px;
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          transition: background-color 0.3s ease;
        }
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .mobileMenu {
    display: none;

    &.active {
      display: block;
      position: absolute;
      top: 60px; /* Высота вашего хедера */
      left: 0;
      right: 0;
      background-color: #4d2c5e;
      z-index: 99;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          border-bottom: 1px solid #fff;

          a {
            display: block;
            padding: 15px;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
    }
  }

  .rightSection {
    display: flex;
    align-items: center;
  }

  .search {
    display: flex;
    align-items: center;
    margin-right: 15px;

    input {
      padding: 10px;
      border: 2px solid #fff;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border-right: none;
      font-size: 14px;
      background: #ffffff77;
      outline: none;

      &:focus {
        background: transparent;
        color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .language {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .bold {
      background: rgb(255, 255, 255);
      border-radius: 5px;
      border: none;
      color: #000000;
      font-weight: 500;
      cursor: pointer;
      padding: 5px 10px;
    }

    .normal {
      background: none;
      border: none;
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      padding: 5px 10px;
      transition: opacity 0.3s ease;
    }

    @media (max-width: 768px) {
      .bold,
      .normal {
        font-size: 14px;
        padding: 5px;
      }
    }
  }

  .auth {
    display: flex;
    align-items: center;

    button {
      background-color: #4d2c5e;
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .profileButton {
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      padding: 0;
      margin: 0;
      font-weight: 500;

      &:hover {
        opacity: 0.8;
      }
    }

    @media (max-width: 768px) {
      button {
        padding: 6px 10px;
        font-size: 14px;
      }
    }
  }
}

/* Медиа-запросы для мобильных устройств */

@media (max-width: 768px) {
  .header {
    .content {
      padding: 0 10px;
    }

    .logo {
      img {
        width: 30px;
        height: 30px;
      }
    }

    .hamburger {
      font-size: 30px;
      display: block;
      color: #fff;
    }

    .nav {
      display: none;
    }

    .mobileMenu {
      display: none;
    }

    .search {
      display: none;
    }

    .language {
      .bold,
      .normal {
        font-size: 14px;
        padding: 5px;
      }
    }

    .auth {
      button {
        padding: 6px 10px;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    .content {
      padding: 0 10px;
    }

    .logo {
      img {
        width: 25px;
        height: 25px;
      }
    }

    .hamburger {
      font-size: 24px;
    }

    .language {
      .bold,
      .normal {
        font-size: 12px;
        padding: 4px;
      }
    }

    .auth {
      button {
        padding: 5px 8px;
        font-size: 12px;
      }
    }
  }
}
