.header {
  background-color: #4d2c5ebb;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffffff;
    display: none;
  }

  .logo {
    img {
      width: 37px;
      height: 37px;
      object-fit: contain;
    }
  }

  .nav {
    display: flex;

    &.active {
      display: block;
    }

    .disp {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;

      li {
        &:last-child {
          border-bottom: none;
        }

        a {
          display: block;
          padding: 8px;
          color: #fff;
          text-decoration: none;
          font-weight: 500;
          transition: background-color 0.3s ease;
        }
      }
    }
  }

  .rightSection {
    display: flex;
    align-items: center;
  }

  .search {
    display: flex;
    align-items: center;
    margin-right: 15px;

    input {
      padding: 10px;
      width: 100px;
      border: 2px solid #fff;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      border-right: none;
      font-size: 14px;
      background: #ffffff77;
      outline: none;

      &:focus {
        background: transparent;
        color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }
  }

  .language {
    display: flex;
    align-items: center;
    margin-right: 15px;

    .bold {
      background: rgb(255, 255, 255);
      border-radius: 5px;
      border: none;
      color: #000000;
      font-weight: 500;
      cursor: pointer;
      padding: 5px 10px;
    }

    .normal {
      background: none;
      border: none;
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      padding: 5px 10px;
      transition: opacity 0.3s ease;
    }
  }

  .auth {
    display: flex;
    align-items: center;
    position: relative;

    button {
      background-color: #4d2c5e;
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 500;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.8;
      }
    }

    .profileButton {
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      padding: 0;
      margin: 0;
      font-weight: 500;

      &:hover {
        opacity: 0.8;
      }
    }

    .profileImage {
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }

    .profileInitial {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #4d2c5e;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      cursor: pointer;
    }

    .profileMenu {
      position: absolute;
      top: 47px;
      right: 0;
      width: 160px;
      height: 100px;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;

      button {
        display: block;
        width: 100%;
        padding: 14px;
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        border: none;
        color: #000000;
        cursor: pointer;
        background: none;

        &:hover {
          background-color: #ffffff;
          background: rgb(176, 169, 169);
        }
      }
    }
  }
}

@media (max-width: 884px) {
  .header {
    position: absolute;
    background: none;
    .hamburger {
      font-size: 50px;
      display: flex;
    }

    .nav {
      display: none;
      background: #8b54a7a1;
      transition: all 0.3s ease-in-out;

      &.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px 0;
      }

      ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;

        li {
          padding: 5px 0;
          border-bottom: 1px solid #fff;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      a {
        font-size: 20px;
      }
    }

    .search {
      display: none;
    }
    .logo {
      display: none;
    }
    .auth {
      button {
        font-size: 26px;
      }
    }
    .language {
      background: #8b54a77a;
      border: 1px solid #4d2c5e;
      color: #fff;
      border-radius: 8px;
      padding: 2px 8px;

      .bold {
        font-size: 26px;
      }

      .normal {
        font-size: 26px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    background: none;

    .hamburger {
      display: flex;
      align-items: center;
      font-size: 48px;
      color: #640ea7;
      cursor: pointer;
    }

    .search {
      display: none;
    }

    .logo {
      display: none;
    }
    .language {
      background: #8b54a77a;
      .bold {
        font-size: 24px;
      }

      .normal {
        font-size: 24px;
      }
    }
    .auth {
      button {
        font-size: 26px;
      }
    }

    .nav {
      display: none;
      background: #8b54a7a1;
      transition: all 0.3s ease-in-out;
      &.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px 0;
      }

      a {
        font-size: 30px;
      }

      ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;

        li {
          padding: 5px 0;
          border-bottom: 1px solid #fff;

          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .header {
    background: none;
    position: absolute;

    .nav {
      background-color: #8b54a77a;
      display: none;
      transition: all 0.3s ease-in-out;

      &.active {
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 10px 0;
      }
      ul {
        flex-direction: column;
        align-items: center;
      }
    }

    .content {
      padding: 0;
    }

    .logo {
      display: none;
    }

    .language {
      background: #8b54a77a;
      border: 1px solid #4d2c5e;
      color: #fff;
      border-radius: 8px;
      padding: 6px 10px;

      .bold {
        font-size: 18px;
      }

      .normal {
        font-size: 18px;
      }

      .profileImage {
        width: 50px;
        height: 50px;
      }
    }

    .auth {
      button {
        padding: 10px 24px;
        border-radius: 10px;
        font-size: 18px;
      }
    }

    .hamburger {
      font-size: 46px;
      display: flex;
    }

    .search {
      display: none;
      border: 1px solid red;
      border-radius: 2px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    background: none;

    .content {
      padding: 0;
    }

    .nav {
      a {
        font-size: 14px;
      }
    }

    .hamburger {
      font-size: 36px;
      display: flex;
    }

    .logo {
      display: none;
    }

    .auth {
      button {
        padding: 8px 14px;
        border-radius: 10px;
        font-size: 14px;
      }
    }

    .language {
      background: #8b54a77a;
      border: 1px solid #4d2c5e;
      color: #fff;
      border-radius: 8px;
      padding: 2px 8px;

      .bold {
        font-size: 14px;
      }

      .normal {
        font-size: 14px;
      }
    }

    .search {
      display: none;
    }
  }
}
