/* [project]/src/appPages/site/components/layout/header/Header.module.scss.module.css [app-ssr] (css) */
.Header-module-scss-module__kft5ua__header {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav a {
  color: #4a4a4a;
  margin: 0 .5rem;
  text-decoration: none;
  font-weight: 500;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__nav a:hover {
  color: #0070f3;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search .Header-module-scss-module__kft5ua__searchBtn {
  padding: 10px 20px;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search input {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search input::placeholder {
  color: #999;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-left: none;
  padding: .3rem .5rem;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__search button:hover {
  background-color: #f0f0f0;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language button {
  background: none;
  border: 1px solid #ccc;
  padding: .3rem .5rem;
  margin-right: .5rem;
  border-radius: 4px;
  cursor: pointer;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language button:last-child {
  margin-right: 0;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__language button:hover {
  background-color: #f0f0f0;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth {
  margin-left: 1rem;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth button {
  background-color: #4a0070;
  color: #fff;
  border: none;
  padding: .3rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.Header-module-scss-module__kft5ua__header .Header-module-scss-module__kft5ua__auth button:hover {
  background-color: #600094;
}

/*# sourceMappingURL=src_appPages_site_components_layout_header_Header_module_scss_module_31ffea.css.map*/