<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение Email</title>
</head>
<body>
    <p>Здравствуйте, {{ user.username }}!</p>
    <p>Спасибо за регистрацию на нашем сайте. Пожалуйста, подтвердите свой email, перейдя по следующей ссылке:</p>
    <p><a href="{{ activate_url }}">{{ activate_url }}</a></p>
    <p>Если вы не регистрировались на нашем сайте, просто проигнорируйте это сообщение.</p>
    <p>С уважением,<br>Команда "Экспериментальной Гимназии №3"</p>

    <hr>

    <p>Саламатсызбы, {{ user.username }}!</p>
    <p>Биздин сайтка катталганыңыз үчүн терээң ыраазычылык билдиребиз. Төмөнкү шилтемени басуу менен электрондук почтаңызды ырастаңыз:</p>
    <p><a href="{{ activate_url }}">{{ activate_url }}</a></p>
    <p>Эгер сайтка катталган эмес болсоңуз, анда бул катты жаап коюңуз.</p>
    <p>Терээң урмат менен,<br>"Эксперименталдык Гимназия №3" командасы</p>
</body>
</html>
