{% extends "base.html" %}

{% block head_title %}
Подтверждение Email
{% endblock %}

{% block extra_head %}
<style>
    /* Стили для confirm-email страницы */
    .confirm-email-container {
        background-color: #ffffff;
        border: 1px solid #dddddd;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 50px auto;
        text-align: center;
    }

    .confirm-email-title {
        font-size: 24px;
        color: #35424a;
        margin-bottom: 20px;
    }

    .confirm-email-message {
        font-size: 16px;
        color: #666666;
    }

    .confirm-email-button {
        background-color: #e8491d;
        color: #ffffff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin-top: 20px;
    }

    .confirm-email-button:hover {
        background-color: #d7390b;
    }
</style>
{% endblock %}

{% block content %}
<div class="confirm-email-container">
    <h1 class="confirm-email-title">Подтвердите ваш Email</h1>
    <p class="confirm-email-message">Пожалуйста, проверьте вашу почту и перейдите по ссылке для подтверждения вашего адреса электронной почты.</p>
    <a href="{% url 'some-url' %}" class="confirm-email-button">Вернуться на главную</a>
</div>
{% endblock %}
