{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
<style>
  .password-reset-done {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .password-reset-done h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
</style>

<div class="password-reset-done">
    <h1>{% trans "Сброс пароля" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Мы отправили вам письмо на электронную почту. Если вы его не получили, пожалуйста, проверьте папку "Спам". В противном случае свяжитесь с нами, если письмо не придет в течение нескольких минут.{% endblocktrans %}</p>
</div>
{% endblock %}
