{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Изменение пароля" %}{% endblock %}

{% block content %}
<style>
  .password-reset-from-key-done {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  .password-reset-from-key-done h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
</style>

<div class="password-reset-from-key-done">
    <h1>{% trans "Изменение пароля" %}</h1>
    <p>{% trans 'Ваш пароль был изменен.' %}</p>
</div>
{% endblock %}
