{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
<style>
    .password-reset-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .password-reset-form h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .password-reset-form label {
        display: block;
        margin-bottom: 5px;
    }

    .password-reset-form input[type="email"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .password-reset-form button {
        width: 100%;
        padding: 10px;
        background-color: #17a2b8;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .password-reset-form button:hover {
        background-color: #138496;
    }
</style>

<div class="password-reset-form">
    <h1>{% trans "Сброс пароля" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Забыли свой пароль? Введите свой адрес электронной почты ниже, и мы отправим вам письмо с инструкциями
        для сброса." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Сбросить пароль" %}</button>
    </form>

    <p>{% blocktrans %}Свяжитесь с нами, если у вас возникли проблемы со сбросом пароля.{% endblocktrans %}</p>

    <p>{% blocktrans %} <a href="{{ login_url }}">Войти</a>.{% endblocktrans %}</p>

</div>
{% endblock %}
