.content {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../../../../assets/images/6W3A8933.JPG") no-repeat center/cover;
  z-index: -1;
}

.textContainer {
  background-color: rgba(86, 57, 123, 0.8);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-right: 20px;

  img {
    border-radius: 50%;
    border: 2px solid #fff;
  }
}

.text {
  color: #fff;
  text-align: left;

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  .textContainer {
    padding: 30px;
  }

  .logo img {
    width: 120px;
    height: 120px;
  }

  .text h1 {
    font-size: 32px;
  }

  .text h2 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  .textContainer {
    padding: 40px;
  }

  .logo img {
    width: 150px;
    height: 150px;
  }

  .text h1 {
    font-size: 40px;
  }

  .text h2 {
    font-size: 28px;
  }
}